<?xml version="1.0"?>
<robot name="mentorpi_gz" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mentorpi_description)/urdf/mentorpi.xacro"/>

  <gazebo reference="lidar_frame">
    <sensor name="scan_raw" type="gpu_lidar">
      <topic>/scan_raw</topic>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159265359</min_angle>
            <max_angle>3.14159265359</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.12</min>
          <max>12.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <always_on>true</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

  <gazebo reference="camera_link">
    <sensor name="rgb_camera" type="camera">
      <topic>/ascamera/camera_publisher/rgb0/image</topic>
      <camera_info_topic>/ascamera/camera_publisher/rgb0/camera_info</camera_info_topic>
      <update_rate>15</update_rate>
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>20.0</far>
        </clip>
      </camera>
      <always_on>true</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>
</robot>
